{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Belizzi</title>

    <!-- Custom styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'static_dev/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'static_dev/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'static_dev/css/margins.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'static_dev/css/fonts.css' %}" />

</head>

<body>
    {% include 'navbar.html' %}

    {% block content %}
    {% endblock content %}

    {% include 'footer.html' %}

    <!-- Core JavaScript -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="{% static 'static_prod/js/handleCounter.js' %}"></script>
    <script src="{% static 'static_prod/js/index.js' %}"></script>
    
    <!-- Cart.js - core shopping cart functionality -->
    <script src="{% static 'static_dev/js/cart.js' %}"></script>

    <!-- Custom page scripts can be added in blocks -->
    {% block extra_js %}{% endblock %}

</body>
</html>
