{% load static %}
<link rel="stylesheet" href="{% static 'login_register_css/styles.css' %}">


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'login_register_css/styles.css' %}">
</head>
<body>
    <div class="register-container">
        <div class="register-card">
            <!-- Add SVG Image above the title -->
            <div class="profile-icon-container">
                <img src="{% static 'media/images/profile-simple.svg' %}" alt="Profile" class="profile-icon">
            </div>
            <h2>Register</h2>
            <form method="POST">
                {% csrf_token %}
                <input type="email" name="email" placeholder="Email" required>
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password1" placeholder="Password" required>
                <input type="password" name="password2" placeholder="Confirm Password" required>
                <button type="submit">Register</button>
            </form>
            <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
        </div>
    </div>
</body>
</html>
